<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infyuv_app.infyuv">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:anyDensity="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:smallScreens="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:xlargeScreens="true">
        <activity
            android:name="com.infyuv_app.infyuv.bluetoothConnection.InfyuvConnection"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.infyuv_app.infyuv.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.infyuv_app.infyuv.bluetoothConnection.AlarmReceiver"
            android:process=":remote" />
    </application>

</manifest>